@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Archivo";
  font-style: normal;
  line-height: 70px;
  display: flex;
  background-image: url("BG.png");
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

.headingsContainer {
  font-size: 10%;
}

.buttonContainers {
  align-items: center;
}

.buttonContainer .loginbutton {
  margin-bottom: 10px;
}

.or-text {
  display: inline-block;
  margin: 0 10px;
  color: #ccc;
  font-weight: bold;
}

a:hover {
  color: #ccc;
}

a {
  text-decoration: none;
  color: #bf5fe1;
  float: right;
  font-size: 16px;
}

.register {
  color: white;
  text-align: center;
}

.register a {
  color: #bf5fe1;
}

.register a:link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}

.headingsContainer {
  text-align: center;
  font-size: 13px;
}

.inputContainer input[type="text"],
.inputContainer input[type="password"] {
  width: 90%;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;

  }
  
  .input-container input {
    flex: 1;
    border: none;
    padding: 5px;
    outline: none;
  }
  
  .input-container input::placeholder {
    color: #999;
  }
  
}

.subContainer {
  display: flex;
  justify-content: space-between;
}

button.loginbutton {
  background-color: #bf5fe1;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 90%;
  margin: 30px;
}

button.loginbutton:hover {
  background-color: #efc0ff;
}

.form-divider {
  display: flex;
  align-items: center;
}

.form-divider::before,
.form-divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.divider-text {
  margin: 0 10px;
  color: #ccc;
  font-weight: bold;
}

.form-container {
  margin-top: 4cm;
  margin-left: auto;
  margin-right: 2cm;
  color: whitesmoke;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 15, 13, 0.582);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
